# Ignore Python cache files
*.pyc
__pycache__/

# Ignore virtual environment
.venv/

# Do not ignore backend and static files
!Python313/backend/
!Python313/backend/static/
!Python313/backend/static/js/
!Python313/backend/static/style.css.txt
